/*
Ce fichier css est à inclure dans chaque page html.
*/

:root
{
--cyan: #009999 ;
--fuchsia: #e71d73 ;
--orange: #eb8915 ;
--anis: #d7db2d ;
--violet: #a24392 ;
--bleu: #044883 ;
--gris: #BCBCBC ;

--cyan-66: #009999AA ;
--fuchsia-66: #e71d73AA ;
--orange-66: #eb8915AA ;
--anis-66: #d7db2dAA ;
--violet-66: #a24392AA ;
--bleu-66: #044883AA ;
--gris-66: #BCBCBCAA ;


--cyan-33: #00999955 ;
--fuchsia-33: #e71d7355 ;
--orange-33: #eb891555 ;
--anis-33: #d7db2d55 ;
--violet-33: #a2439255 ;
--bleu-33: #04488355 ;
--gris-33: #BCBCBC55 ;
}

@font-face {
    font-family: 'dk-dirrrty';
    src: url('../autre/dk_dirrrty.ttf');
}


footer a
{
text-decoration:underline !important;
}

* > a:hover
{
text-shadow: 0px 0px 1px;
}

* {
font-family:Arial;
}

article
{
padding-top:80px;
padding-bottom:80px;
}

header a,header a:hover,header a:active,header a:link, header a:visited
{
color: inherit;
text-decoration:none !important;
}

h1
{
font-family: dk-dirrrty ;
text-align: center;
}


footer a,footer a:hover,footer a:active,footer a:link,footer a:visited
{
color : white ;
}

footer ul
{
padding-bottom:20px;
}

.logo
{
width: 40px;
}

.icon
{
width: 20px;
margin-right:10px;
}

.small-img
{
width: 100px;
}

.medium-img
{
width:180px;
}

.big-img
{
width: 250px;
}


.cyan
{
color: var(--cyan) !important;
}
.fuchsia
{
color: var(--fuchsia) !important;
}
.orange
{
color: var(--orange) !important;
}
.anis
{
color: var(--anis) !important;
}
.violet
{
color: var(--violet) !important;
}
.bleu
{
color : var(--bleu) !important;
}

.btn-cyan
{
background-color: var(--cyan-33) !important ;
color:black !important;
}
.btn-fuchsia
{
background-color: var(--fuchsia-66) !important ;
color:black !important;
}
.btn-orange
{
background-color: var(--orange-33) !important ;
color:black !important;
}
.btn-anis
{
background-color: var(--anis-33) !important ;
color:black !important;
}
.btn-violet
{
background-color: var(--violet-33) !important ;
color:black !important;
}
.btn-bleu
{
background-color: var(--bleu-33) !important ;
color:black !important;
}

a.btn:link
{
text-decoration:none;
}


li.nav-item.dropdown.cyan a
{
color: var(--cyan) !important;
}
li.nav-item.dropdown.cyan a.dropdown-item:active
{
background-color: var(--cyan-33) !important;
}

li.nav-item.dropdown.fuchsia a
{
color: var(--fuchsia) !important;
}
li.nav-item.dropdown.fuchsia a.dropdown-item:active
{
background-color: var(--fuchsia-33) !important;
}

li.nav-item.dropdown.orange a
{
color: var(--orange) !important;
}
li.nav-item.dropdown.orange a.dropdown-item:active
{
background-color: var(--orange-33) !important;
}

li.nav-item.dropdown.anis a
{
color: var(--anis) !important;
}
li.nav-item.dropdown.anis a.dropdown-item:active
{
background-color: var(--anis-33) !important;
}

li.nav-item.dropdown.violet a
{
color: var(--violet) !important;
}
li.nav-item.dropdown.violet a.dropdown-item:active
{
background-color: var(--violet-33) !important;
}

li.nav-item.dropdown.bleu a
{
color: var(--bleu) !important;
}
li.nav-item.dropdown.bleu a.dropdown-item:active
{
background-color: var(--bleu-33) !important;
}

li.nav-link:hover
{
text-shadow: 0px 0px 1px;
}

.lang-menu a:active
{
color: inherit ;
}

.zoom,.zoom-icon {
transition: transform .2s;
}

.zoom:hover {
transform: scale(1.05);
}

.zoom-icon:hover {
transform: scale(1.4);
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.show .dropdown-menu { 
    max-height: 3000px;
    opacity: 1;
}

ul
{
list-style-type: square;
}




.banniere,.banniere-en
{
padding-top:120px;
background-repeat:no-repeat;
background-repeat: no-repeat;
background-size: cover;
}

.banniere img,.banniere-en img
{
padding-left:10px; 
}

